<section class="deeperNestedView">

	<div class="container">
		<div class="row">
			<h1>Nested view, level 2</h1>
		</div>
		<div class="row">
			<tabset>
				<tab heading="Some crappy title" 	ui-sref=".pledge1" active="$state.current.name === 'cv.first.pledge1'"></tab>
				<tab heading="Another title" 		ui-sref=".pledge2" active="$state.current.name === 'cv.first.pledge2'"></tab>
				<tab heading="Hey... another one" 	ui-sref=".pledge3" active="$state.current.name === 'cv.first.pledge3'"></tab>				
			</tabset>
		</div>
	</div>
	
	The state is: ...{{$state.current.name}}
	
	<div class="container">
		<div class="row">
			<div ui-view></div>
		</div>
	</div>
	
</section>
